<div class="container">
  <div class="fb-profile" style="margin-top:100px;">
    <table class="table user-list recomend">
      <thead>
        <tr>
          <th class="recomend_td"><span>All Users</span></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
         <td>
           <% if user.avatar.present? %>
           <%= image_tag user.avatar %>
           <% else %>
           <img src="http://bootdey.com/img/Content/user_3.jpg" alt="">
           <% end %>                  
           <%= link_to user.username, user_path(user), class:"user-link" %>
           <span class="user-subhead">
             <% if user.gender %>Female
             <% else %>Male
             <% end %>
           </span>
         </td>
         <td>
           <% if user.id == current_user.id %>
           <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-default" %>
           <% else %>
           <% if current_user.id != user.id %>
           <div id="follow_form" style="margin-top: 20px;">
            <% if current_user.following?(user) %>

              <!-- // da follow nguoi khac click de unfollow -->
              <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
               html: { method: :delete },
               remote: true) do |f| %>
               <%= f.submit "Unfollow", class: "btn unfollow-button" %>
               <% end %>
               

               <% else %>
               <%= form_for(user.active_relationships.build, remote: true) do |f| %>
               <div><%= hidden_field_tag :followed_id, user.id %></div>
               <%= f.submit "Follow", class: "btn btn-primary follow-button" %>
               <% end %>
             <% end %>

           </div>
           <% end %>
           <% end %>
         </td>
       </tr>
       <% end %>



     </tbody>
   </table>
 </div>
</div>
<style>
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

  body{
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:14px;
    line-height:1.4285em;
    color: rgba(0,0,0,.87);
  }

  .thread-parent img {
    max-width: 100%;
  }

  /* Limited Images */
  .limited-parent-image {
    cursor: pointer;
    position: relative;
    max-height: 200px;
    overflow: hidden;
    -moz-transition: max-height .5s;
    -webkit-transition: max-height .5s;
    -o-transition: max-height .5s;
    -ms-transition: max-height .5s;
    transition: max-height .5s;
  }
  .limited-parent-image:hover {
    max-height: 1000px;
    height: 100%;
  }
  .limited-expand {
    background: rgba(0, 0, 0, 0.13);
    position: absolute;
    cursor: pointer;
    padding: 5px;
    color: #fff;
    right: 0;
    top: 0;
  }

  .limited-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  /* Modal Content (image) */
  .limited-modal-content-image {
    margin: auto;
    display: block;
  }
  /* Add Animation */
  .limited-modal-content-image {
    max-height:100%;
    max-width:100%;
    -webkit-animation-name: limited_zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: limited_zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes limited_zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  @keyframes limited_zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
  }

  /* The Close Button */
  .limited-close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .limited-close-modal:hover,
  .limited-close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .limited-modal-content-image {
      width: 100%;
    }
  }
</style>
<script>