<div class="container userss">
  <% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= user.username %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= 'follow_form' if user_signed_in? %>
    <% if @user.foods.any? %>
      <h3>foods (<%= @user.foods.count %>)</h3>
      <ol class="foods">
        <%= @foods %>
      </ol>
      <%= will_paginate @foods %>
    <% end %>
  </div>
</div>

</div>