<div class="col-xs-12 text-center">
  <br><br><br>
  <%= image_tag @user.avatar, class:"img2" %>
  <p style="color: white"><%= @user.username %></p>
  <p style="color: white"><%= @user.name %></p>
  <p style="color: white"><%= @user.birth %></p>
  <p style="color: white">
    <% if @user.gender %>Female
    <% else %>Male
    <% end %>
  </p>
  <h2> Your photo </h2>
  <% @user.foods.each do |food| %>
  <%= food.name %><br>
  <%= image_tag food.file %><br>
  <%= link_to "Edit", edit_food_path(food) %>
  <%= link_to "Delete", food_path(food),
    method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <br><br>
</div>
<style>
  body {
    color: white;
  }
  img {
    height: auto;
    width: 500px
  }
  .img2 {
    width: 200px;
    height: 200px;
  }
</style>
