<%= simple_form_for @food, multipart: true, class:"form-control" do |f| %>
  <label>Images</label>
  <div class="old-img">
    <% @food.food_photos.each do |photo| %>
      <!-- <div class="image-container"> -->
        <%= image_tag photo.photo_url,
          onerror: "this.src='http://i.imgur.com/3cg67mg.jpg';" %>
<!--         < if @food.food_photos.count - 3 > 0 %>
          <div class="after">
            <p>+<=@food.food_photos.count - 3 %></p>
          </div>
        < end %>
      </div> -->
    <% end%>
  </div>
  <!--<= f.input :file, class:"file" %><br>-->
  <div id="preview"></div>
  <%= f.simple_fields_for :food_photos do |photo| %>
    <%= photo.file_field :photo, name: "food_photos[photo][]", multiple: true,
      class: "upload-image", style:"display: none" %>
  <% end %><br>
  <%= f.input :name, max: 25 %><h6>* Food name must be less than 25 characters</h6>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price, min: 0 %>
  <%= f.input :tag_list, :url => autocomplete_tag_name_foods_path,
    :as => :autocomplete, :input_html => { :value => @food.tag_list.join(","), :data => { :delimiter => ', '}} %>
  <p style="font-size: 12px">* Tags separated by commas</p>
  <%= f.input :review %><br>
  <div class="actions text-center col-sm-12">
    <div class="col-sm-6"><%= f.button :submit %></div>
    <div class="col-sm-6"><%= f.submit "Clear form", type: :reset, class: "btn btn-danger" %></div>
  </div><br><br>
<% end %>
<style>
  #food_food_photos_attributes_0_photo {
    display: block !important;
  }
</style>
