<%= simple_form_for @food, multipart: true, class:"form-control" do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price, min: 1 %>
  <%= f.input :tag %>
  <%= f.input :review %>
  <%= f.input :file %>
  <div class="actions text-center col-sm-12">
    <div class="col-sm-6"><%= f.button :submit %></div>
    <div class="col-sm-6"><%= f.submit "Clear form", type: :reset, class: "btn btn-danger" %></div>
  </div><br><br>
<% end %>
