<%= simple_form_for @food, multipart: true, class:"form-control" do |f| %>
  <%= image_tag @food.file, class: "old-img" %>
  <div class="upload-preview">
    <img />
  </div>
  <%= f.input :file, class:"file" %><br>
  <%= f.input :name, max: 25 %><h6>* Food name must be less than 25 characters</h6>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price, min: 0 %>
  <%= f.input :tag_list, :url => autocomplete_tag_name_foods_path,
    :as => :autocomplete, :input_html => { :value => @food.tag_list.join(","), :data => { :delimiter => ', '}} %>
  <p style="font-size: 12px">* Tags separated by commas</p>
  <%= f.input :review %><br>
  <div class="actions text-center col-sm-12">
    <div class="col-sm-6"><%= f.button :submit %></div>
    <div class="col-sm-6"><%= f.submit "Clear form", type: :reset, class: "btn btn-danger" %></div>
  </div><br><br>
<% end %>
