<div class="form-control">
<%= simple_form_for @food, multipart: true do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price, min: 1 %>
  <%= f.input :tag %>
  <%= f.input :review %>
  <%= f.input :file %>
  <%= f.button :submit %>
<% end %>
</div>
