<section id="top" class="parallax-section section">
  <div id="top2">
    <% @foods.each do |food| %>
      <%= image_tag food.file %>
      <%= link_to food.name, food_path(food) %>
      <%= food.description %>
      <%= food.address %>
      <%= food.price %>
      <%= food.favorite %>
      <%= food.tag %>
      <%= food.review %>
    <% end %>
  </div>
</section>
