<body class="user-site">
<div class="section">
  <section id="top" class="parallax-section">
    <div id="top2">
    <div class="uk-overlay"></div>
    <div class="uk-container">
      <h1 class="uk-module-title-alt">AwesomeVn</h1>
      <h5>We make it awesome!</h5>
    </div>
    </div>
  </section>
</div>
<br><% if params[:q] %>
  <div class="section">
    <h2>Search Results</h2>
    <%= render "food" %>
  </div>
<% else %>
  <div id="tag_cloud">
    <% tag_cloud Food.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div><br><br>

  <div class="section section2">
    <br><br>
    <h2 class="home-list-title trailers">
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star last"></span>
      <span class="uk-text-center">Newest images</span>
      <span class="star first"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
    </h2>
    <br>
    <div class="carousel">
      <% Food.order("created_at desc").limit(10).each do |food| %>
        <div class="item">
          <div class="container2">
            <%= link_to food_path(food) do %>
              <%= image_tag food.file %>
            <% end %>
            <div class="overlay">
              <div class="popover-wrapper2">
                <button class="popover-btn popover-btn2 nostyle">
                  <% if user_signed_in? %>
                    <% if current_user.voted_up_on? food %>
                      <%= link_to dislike_food_path(food), method: :put, class:"_ebwb5 _1tv0k" do %>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      <% end %>
                    <% else %>
                      <%= link_to like_food_path(food), method: :put, class:"_ebwb5 _1tv0k" do %>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to user_session_path do %>
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <% end %>
                  <% end %>
                </button>
              </div>
              <div class="popover-wrapper">
                <button class="popover-btn nostyle">
                  <i class="fa fa-share-alt fa-lg"></i>
                </button>
                <div class="popover-content">
                  <ul class="social-networks">
                    <%= social_share_button_tag food.name, desc: food.description,
                      via: "AwesomeVn", image: food.file %>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 info-food">
                <span class="col-xs-3"> <i class="fa fa-download"></i></span>
                <span class="col-xs-9 text-right">
                  <%= food.created_at.in_time_zone.strftime("%B %d, %Y") %>
                </span>
              </div>
            </div>
          </div>
          <div class="block-content">
            <%= link_to food_path(food), title: food.name do %>
              <h4 class="block-name"><%= food.name %></h4>
            <% end %>
            <h6 class="block-address" title="address">
              Tags: <%= raw food.tags.map(&:name).map { |t| link_to t, tag_path(t), class:"tags" }.join(', ') %><br>
            </h6>
            <div class="block-meta">
              <div class="block-counts">
                <i class="lz fa fa-heart"></i><%= food.score %>
              </div>
            </div>
            <div class="block-activity">
              <div class="profile-card">
                <div class="pc-image">
                  <%= image_tag food.user.avatar,
                    style: "background-image:url(/dist/images/placeholder.png);background-size:cover;",
                    class: "img", alt:"img", title:food.user.username %>
                </div>
                <div class="pc-content">
                  <h4 class="pc-name">
                    <%= link_to food.user.username, user_path(food.user) %>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <div class="text-center">
      <%= link_to "View more", foods_newest_path, class:"home-film-list-view-more" %>
    </div>
  </div>
  <div class="tm-block-top-a uk-block uk-block-default">
    <h2 class="home-list-title trailers">
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star last"></span>
      <span class="uk-text-center">Most liked images</span>
      <span class="star first"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
      <span class="star"></span>
    </h2><br>
    <div class="carousel2">
      <% Food.order(cached_votes_up: :desc).limit(10).each do |food| %>
        <div class="item">
          <div class="container2">
            <%= link_to food_path(food) do %>
              <%= image_tag food.file %>
            <% end %>
            <div class="overlay">
              <div class="popover-wrapper2">
                <button class="popover-btn popover-btn2 nostyle">
                  <% if user_signed_in? %>
                    <% if current_user.voted_up_on? food %>
                      <%= link_to dislike_food_path(food), method: :put, class:"_ebwb5 _1tv0k" do %>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      <% end %>
                    <% else %>
                      <%= link_to like_food_path(food), method: :put, class:"_ebwb5 _1tv0k" do %>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to user_session_path do %>
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <% end %>
                  <% end %>
                </button>
              </div>
              <div class="popover-wrapper">
                <button class="popover-btn nostyle">
                  <i class="fa fa-share-alt"></i>
                </button>
                <div class="popover-content">
                  <ul class="social-networks">
                    <%= social_share_button_tag food.name, desc: food.description,
                      via: "AwesomeVn", image: food.file %>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 info-food">
                <span class="col-xs-3"> <i class="fa fa-download"></i></span>
                <span class="col-xs-9 text-right">
                  <%= food.created_at.in_time_zone.strftime("%B %d, %Y") %>
                </span>
              </div>
            </div>
          </div>
          <div class="block-content">
            <%= link_to food_path(food), title: food.name do %>
                <h4 class="block-name"><%= food.name %></h4>
            <% end %>
            <h6 class="block-address" title="address">
              Tags: <%= raw food.tags.map(&:name).map { |t| link_to t, tag_path(t), class:"tags" }.join(', ') %><br>
            </h6>
            <div class="block-meta">
              <div class="block-counts">
                <i class="lz fa fa-heart"></i><%= food.score %>
              </div>
            </div>
            <div class="block-activity">
              <div class="profile-card">
                <div class="pc-image">
                  <%= image_tag food.user.avatar,
                                style: "background-image:url(/dist/images/placeholder.png);background-size:cover;",
                                class: "img", alt:"img", title:food.user.username %>
                </div>
                <div class="pc-content">
                  <h4 class="pc-name">
                    <%= link_to food.user.username, user_path(food.user) %>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div><br>
    <div class="text-center" style="padding-bottom: 30px;">
      <%= link_to "View more", foods_liked_path, class:"home-film-list-view-more" %>
    </div>
  </div>
<% end %>
</body>
