<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @food.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @food.favorite %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @food.tag %>
</p>

<p>
  <strong>Review:</strong>
  <%= @food.review %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
