<!DOCTYPE html>
<html lang="en">
<head>
  <title>AwesomeVn</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="http://mynameismatthieu.com/WOW/dist/wow.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track": "true" %>
  <link href="//fonts.googleapis.com/css?family=Khand" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Varela" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Ruthie" rel="stylesheet">
  <%= favicon_link_tag "http://icons.iconarchive.com/icons/icons8/windows-8/512/Food-Restaurant-2-icon.png" %>
</head>

<body>

<%= render "layouts/head" %>
<%= yield %>
</body>
</html>
